.Button {
    background-color: transparent;
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 12px;
    margin: 10px;
    font-weight: bold;
    transition: transform .1s linear;
}

.Button:hover {
    transform: translateY(-2px);
}

.Button:active {
    transform: translateY(0);
}

.Button:first-of-type {
    margin-left: 0;
    padding-left: 0;
}

.Success {
    color: #5C9210;
}

.Danger {
    color: #944317;
}

@media (max-width: 360px) {
    .Button {
        display: block;
        width: 100%;
        margin: 0;
        padding: 10px;
        border: 1px solid #eee;
        border-radius: 5px;
    }

    .Button:first-of-type {
        padding-left: 10px;
        margin-bottom: 10px;
    }

}